data/lake/
data/state.duckdb
data/state.duckdb.wal
data/lake/bronze/*.jsonl
data/lake/bronze/*.meta
__pycache__/
*.pyc
.venv/
.env

.DS_Store
Thumbs.db
dagster_home/
.ruff_cache/
.pytest_cache/
*.log
*.egg-info/
.vscode/
.idea/
*.swp
*~
*.db
